.ar {
  direction: rtl;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
  color: var(--textNormal);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

.layoutContent {
  width: 100%;
  max-width: 700px;
  padding-top: 1.35rem;
  padding: 20px;
}

.layoutHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.layoutTitle {
  display: inline-block;
  font-style: normal;
  margin-bottom: 0;
}
